@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <div>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br><br>
            <div id="email-div">
                <label for="email">Email:</label>
                <input type="email" id = "email" name="email"><br><br>
            </div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br><br>
            
        </form> 
    </div>
    
    <div>
         <a asp-page="/Index">  
            <button type="submit">Login</button>
        </a>
        <button type="submit">Register</button>  
    </div>
</div>

